body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;

}

.container {
    display: flex;
    padding: 0px 60px;
}

.header {
    display: flex;
    margin-right: auto;
    margin-left: 32px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    align-items: center;
   
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 32px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 8px 8px;
    border: 1px solid #1f2937;
    border-radius: 4px;
}

a:hover {
    border: 1px solid #f9faf8;
}

ul{
    padding: 0;
}



.hero {
    background-color: #1f2937;
}

.hero2 {
    align-items: center;
    margin: 0;
    padding: 32px auto;
    padding-bottom: 16px;
}

.hero2 img {
    max-height: auto;
    max-width: 240px;
    margin-left: auto;
    margin-right: 130px;
    margin-bottom: 16px ;
    border-radius: 12px;
}

.awesome {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    padding: 0px;
    margin: 12px 0px 0px;
    text-align: left;
}

.awesome2 {
    color: #f9faf8;
    margin: 0px;
    padding: 2px;
    text-align: left;

}

button {
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    margin: 16px 0px;
    border-radius: 12px;
    border-style: none;
    justify-content: flex-start;

    
}

.signupbanner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 100px 0px 32px;
}

.dogs {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 8px;
}

.dogs img {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;

}

.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 16px;
}

.infosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    max-width: 210px;
}    

.infosection img {
    border: 5px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #e5e7eb;

}

.quote2 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    text-align: left;
    width: fit-content;
    height: 450px;

   
}

.thor {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    width: 650px;
}

.thor2 {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}

.calltoaction {
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin: 60px 200px;
    background-color: #3882f6;
    border-radius: 12px;
}

.calltoaction2 {
    background-color: #3882f6;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 12px;
}

.call {
    text-align: left;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.subtext {
    text-align: left;
    color: #f9faf8;
    font-size: 16px;
    margin: 0;
}

.signup2 {
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 16px;
    background-color: #1f2937;
    padding: 16px;
}

span {
    padding-left: 3px;
    padding-right: 3px;
}